
<section class="hero py-16">
    <!--
        Design is two wrapper one on left (h1 & h6) and other on right a pizza image.
        These two div are contained inside another wrapper

        w-1/2 : width 50%
        text-lg : large text a bit
        text-6xl : Size of text
        font-bold : for bold style
    -->
    <div class="container mx-auto flex items-center justify-between">
        <div class="w-1/2">
            <h6 class="text-lg">Are you hungry?</h6>
            <h1 class="text-6xl font-bold">Don't wait !</h1>
            <button class="rounded-full btn-primary py-1 px-6">Order Now</button>
        </div>
        <div class="w-1/2">
            <img src="/img/pizza.png"  alt="pizza image">
        </div>
    </div>
    
</section>

<section class="menu container mx-auto py-8">
<h1 class="text-xl font-bold  mb-8">All Pizzas</h1>
<div class="grid grid-cols-4 col-gap-12 row-gap-16">
    <%pizzas.forEach((pizza)=>{%>
    <div >
        
        <div><img src="/img/<%= pizza.image %>" class="h-40 mb-4 mx-auto" alt="pizza image"></div>
        <!-- h-40 : Imge height is restricted
             mx-auto : places the image in the center
            -->
        <div class="text-center">
            <!--
                text-center : places all the text in the center mx-auto will not work here

            -->
            <h2 class="text-xl font-bold mb-4"><%=pizza.name%></h2>
            <span class="item-size text-s uppercase px-4 py-1 rounded-full "><%=pizza.size%></span>

            <div class="container mx-auto flex items-center justify-around mt-4">
                <span class="font-bold text-lg">₹<%=pizza.price%></span>
                <button data-pizza="<%= JSON.stringify(pizza)%>" class="add-to-cart flex items-center rounded-full px-6 py-1 font-bold" >
                    <span>+</span>
                    <span class="ml-6">Add</span>
                </button>
            </div>
        </div>
    </div>
    <% })%>


 
 
    
   
</div>


</section>